

! Rofi configuration
rofi.lines:	3
rofi.width: 	50
rofi.font:   	DejaVu Sans 32
rofi.bw:	0
rofi.fullscreen: true
rofi.padding:	 350
rofi.fake-transparency:	

rofi.color-window:  #a02f343f, #2f343f, #2f343f
! Colors:    	    bg	     fg       bgalt    
rofi.color-normal:  #002f343f, #f3f4f5, #002f343f, #f3f4f5, #2f343f