* {
    border: none;
    border-radius: 0;
    font-family: IBM Plex Mono, Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(26, 30, 35, 1);
    color: #ddd;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: #323287;
}

#mode, #clock, #battery, #tray, #network, #pulseaudio {
    padding: 0px 10px;
}

#mode {
    background: #64727D;
}

#network {
  background: #8a37b7;
}

#network.disconnected {
  background: none;
  color: #8a37b7;
}

#pulseaudio {
  background: #c6a059;
  color: rgba(26, 30, 35, 1);
}

#pulseaudio.muted {
  background: none;
  color: #c6a059;
}

#battery.charging {
  color: white;
}

#battery.full.discharging {
  color: #16964B;
}

#battery.full:not(.discharging) {
  color: white;
  background-color: #16964B;
}

#battery.good:not(.charging) {
  color: #3a6bc4;
}

#battery.charging.good {
  background-color: #3a6bc4;
}

#battery.warning:not(.charging) {
    color: #dd3e00;
}

#battery.charging.warning {
    background-color: #dd3e00;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #d32e52;
    }
}

#battery.critical:not(.charging) {
    background: #d32e52;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical.charging {
  background-color: #d32e52;
}
